.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f9f9f9;
  width: 100%;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  max-width: 100%; /* Set the maximum width of the container to 100% of the viewport */
  padding: 0 20px; /* Add some padding to the sides to prevent content from sticking to the edges */
  margin: 0 auto; /* Center the container horizontally */
  overflow-y: hidden;
}

.title {
  margin-top: 0px;
}

.error {
  color: red;
}

.loading {
  color: gray;
}

@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .main-container {
    padding: 10px;
  }
}