.Sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.Title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

p {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
}
