.Main {
  margin-top: 2rem;
}

.Title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.Details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  border: 3px solid grey;
}

.Left {
  flex: 1;
  margin-right: 2rem;
  max-width: 50%;
}

.Right {
  flex: 1;
  max-width: 50%;
  border-left: 2px solid #ccc;
  padding-left: 2rem;
  background-color: rgb(63, 92, 136);
  color: white;
  font-weight: bold;
}

.Description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.Brand-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.Price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.Button {
  margin-top: 2rem;
}
