.voilier-details {
  margin: 2rem 0;
  background-color: #f8f8f8;
}

.voilier-details__article {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  background-color: #f0f0f0;
  border-radius: 50px;
}

.voilier-details__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #0d5c75;
}

.voilier-details__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.voilier-details__image-container {
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 2rem;
}

.voilier-details__image-container img {
  width: 100%;
  border-radius: 20%;
}

.voilier-details__description-container {
  flex: 1.5;
}

.voilier-details__description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.voilier-details__details-container {
  display: flex;
  border-top: 4px solid #ebebeb;
  padding-top: 2rem;
  margin-top: 3rem;
}

.voilier-details__price-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.voilier-details__price-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: 0.5rem;
  color: #4a4e69;
}
.voilier-details__price {
  font-size: 1.2rem;
}

.voilier-details__button-container {
  text-align: right;
  margin-top: 2rem;
}

.voilier-details__button {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #0d5c75;
  border: none;
}

.voilier-details__button:hover {
  background-color: #1c1e2d;
}